{% extends "shared/layout.html" %}

{% block content %}

<div style="margin: auto; float: right;">
    <a href="https://github.com/timskovjacobsen/steelprofiles_api">
        <img style="width: 42px; float: left;" src="/static/img/GitHub-icon.svg" alt="GitHub Icon" id="modeIcon2">
    </a>
    <button class="toggleDarkMode" onclick="darkMode()">
        <img style="float: right; filter: invert(1);" src="/static/img/button-dark-mode.svg" alt="" id="modeIcon" />
    </button>
</div>

<img src="/static/img/favicon.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="">

<h1 class="font-semi-bold">Steel Profiles REST API</h1>


<div style="clear:both;"></div>
<br>
<p class="intro">
    A simple REST API for requesting data for common European steel profiles.<br>
    <br>
    Check out the <a href="http://steelapi.timskovjacobsen.com/docs/">Docs</a> for more information.<br>
    <br>
</p>

<h2>Endpoints</h2>
<ul>
    <li>
        <strong><code>GET
                /api/{profile_type}</code></strong><br>
        E.g. to get data for all <strong>HEA</strong> profiles, visit <a href="/api/HEA" target="_blank"><strong>GET
                /api/HEA</strong></a><br>
    </li>

    <li>
        <strong><code>GET
                /api/{profile_type}/{dimension}</code></strong><br>
        E.g. to get data for the profile <strong>HEA120</strong>, visit <a href="/api/HEA/120"
            target="_blank"><strong>GET
                /api/HEA/120</strong></a><br>
    </li>
</ul>

<h2>Units</h2>

<p>The metric units used for the steel dimensions in this API are:</p>
<div>
    <ul>
        <li><code>h: mm</code></li>
        <li><code>b: mm</code></li>
        <li><code>tw: mm</code></li>
        <li><code>tf: mm</code></li>
        <li><code>r: mm</code></li>
        <li><code>d: mm</code></li>
        <li><code>A: cm²</code></li>
        <li><code>G: kg/m</code></li>
        <li><code>Iy: cm⁴</code></li>
        <li><code>Wy: cm³</code></li>
        <li><code>iiy: cm</code></li>
        <li><code>Iz: cm⁴</code></li>
        <li><code>Wz: cm³</code></li>
        <li><code>iiz: cm</code></li>
    </ul>
</div>

<h2>Supported profiles</h2>

<p>For now, the supported profiles are
    <a href="/HEA" target="_blank"> HEA</a>,
    <a href="/HEB" target="_blank"> HEB</a>,
    <a href="/HEM" target="_blank"> HEM</a>,
    <a href="/IPE" target="_blank"> IPE</a>,
    <a href="/IPN" target="_blank"> IPN</a> and
    <a href="/UPN" target="_blank"> UPN</a>
    .
</p>

<div style="margin-bottom:50px">
    <h2>References</h2>

    For creating this API, data from <a href="https://www.prontubeam.com/structural-steelwork-handbook" target="_blank">
        prontubeam</a> were used.


    <div style="float:right;">
        <a
            href="https://www.digitalocean.com/?refcode=0e16e3b2ed53&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
                alt="DigitalOcean Referral Badge" id="digitalOceanIMG" /></a>
    </div>

</div>

</div>

<script>
    let x = 0;

    function darkMode() {
        var toggleDarkMode = document.body;
        toggleDarkMode.classList.toggle("dark-mode");
        imgToggle = x++;
        if ((imgToggle % 2) == 0) {
            document.getElementById("digitalOceanIMG").src = "/static/img/digitaldark.svg"
            document.getElementById("modeIcon").src = "/static/img/button-light-mode.svg"
            document.getElementById("modeIcon").style.backgroundColor="#ffffff"
            document.getElementById("modeIcon").style.filter="invert(0)"
            document.getElementById("modeIcon2").src = "/static/img/GitHub-icon-light.png"
        } else if ((imgToggle % 2) != 0) {
            document.getElementById("digitalOceanIMG").src =
                "https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
            document.getElementById("modeIcon").src = "/static/img/button-dark-mode.svg"
            document.getElementById("modeIcon").style.backgroundColor="#ffffff"
            document.getElementById("modeIcon").style.filter="invert(1)"
            document.getElementById("modeIcon2").src = "/static/img/GitHub-icon.svg"
        }

    }
</script>

{% endblock %}