@import url(//fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Crimson+Text:300,400,600,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
}

.dark-mode {
    background-color: black;
    color: white;
}

.toggleDarkMode {
    width: 50px; 
    height: 47px; 
    border: 0px; 
    padding: 0px;
    border-radius: 50%;
    background-color: #000000;
}

.toggleDarkMode img {
    max-width: 50px;
}

#modeIcon {
    border: 0px;
    border-radius: 50%;
    padding: 1px 2px;
    width: 50px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Crimson Text", sans-serif, Arial;
    font-weight: 700;
}

p {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.site-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.site-icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 16px 8px 8px 8px;
}

.site-title {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    padding-right: 60px;
}

.site-social-icons {
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding: 10px 6px;
    width: fit-content;
    position: absolute;
    right: 0px;
    top: 0px;
}

.social-icon {
    min-width: 50px;
    margin: 4px;
}


.starter-template {
    margin-top: 25px;
}

.starter-template .content {
    margin-left: 10px;
}

.starter-template .content h1 {
    margin-top: 10px;
    font-size: 60px;
}

.starter-template .content h1 .smaller {
    font-size: 40px;
}

.starter-template .content .intro {
    font-size: 25px;
}

.starter-template .links {
    float: right;
    right: 0;
    margin-top: 125px;
}

.starter-template .links ul {
    display: block;
    padding: 0;
    margin: 0;
}

.starter-template .links ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.starter-template .links ul li:first-child {
    margin-left: 0;
}

.starter-template .links ul li:last-child {
    margin-right: 0;
}

.starter-template .links ul li.current-version {
    font-weight: 400;
}

.starter-template .links ul li a, a {
    text-decoration: underline;
}

.starter-template .links ul li a:hover, a:hover {
    text-decoration: underline;
}

.starter-template .links ul li .icon-muted {
    margin-right: 5px;
}

.starter-template .copyright {
    margin-top: 10px;
    font-size: 0.9em;
    text-transform: lowercase;
    float: right;
    right: 0;
}

@media (max-width: 1199px) {
    .starter-template .content h1 {
        font-size: 45px;
    }

    .starter-template .content h1 .smaller {
        font-size: 30px;
    }

    .starter-template .content .lead {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .starter-template {
        margin-top: 0;
    }

    .starter-template .logo {
        margin: 40px auto;
    }

    .starter-template .content {
        margin-left: 0;
        text-align: center;
    }

    .starter-template .content h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .starter-template .links {
        float: none;
        text-align: center;
        margin-top: 60px;
    }

    .starter-template .copyright {
        float: none;
        text-align: center;
    }

    .no-label-list {
        list-style-type: none;
        padding-left: 0px;
    }
}

@media (max-width: 767px) {

    .site-header {
        flex-wrap: wrap;
    }

    .site-icon {
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .site-title {
        width: 100%;
        padding: 0px 45px;
    }

    .site-social-icons {
        width: 80px;
    }

    .starter-template .content h1 .smaller {
        font-size: 25px;
        display: block;
    }

    .starter-template .content .lead {
        font-size: 16px;
    }

    .starter-template .links {
        margin-top: 40px;
    }

    .starter-template .links ul li {
        display: block;
        margin: 0;
    }

    .starter-template .links ul li .icon-muted {
        display: none;
    }

    .starter-template .copyright {
        margin-top: 20px;
    }
}

.profile-table {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dataframe {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 11px;
    font-family: sans-serif;
    min-width: 300px;
    /* box-shadow: 0 0 20px rgba(255, 237, 237, 0.15); */
    border: 1px solid #dddddd;
}

.dataframe thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border: 1px solid #009879;
}

.dataframe th,
.dataframe td {
    padding: 8px 3px 3px 8px;
    border: none;
}

.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dataframe tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.dataframe tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media (max-width: 399px) {
    body {
        min-width: 100vw;
        padding: 0px;
    }

    #modeIcon2 {
        display: none;
    }

    .container {
        width: 100vw;
        min-width: 300px;
        padding: 20px;
    }

    .content {
        box-sizing: content-box;
    }

    .site-title {
        padding: 0px;
    }
}